/* Full Page Container */
.pageContainer {
  width: 100%;
  background-color: #f9f9f9;
  overflow: hidden;
}

.blogBackground {
  background-image: url('../public/banners/index.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
}

.blogBackground::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

.blogBackground > * {
  position: relative;
  z-index: 1;
}

.darkMode .blogBackground::before {
    background-color: rgba(26, 32, 44, 0.8);
}
