.codeBackground {
    background-image: url('../public/banners/index.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 64px);
    width: 100%;
    position: relative;
}

.codeBackground::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
}

.codeBackground > * {
    position: relative;
    z-index: 1;
}
